{% extends 'base.html' %}

    {% block title %}
        Poke Page
    {% endblock %}

    {% block content %}
        <h1 class="text-center mb-3">Pokemon Page</h1>
        <form action="" method="POST" class="mb-2 text-center">
                {{ form.hidden_tag() }}
                {{ form.pokemon(class="rounded", placeholder='Enter pokemon name!') }}
                {{ form.submit_btn(class="rounded")  }}
        </form>
        {% if pokemon_data %}
            {% for pokemon in pokemon_data %}
            <div class="card mx-auto", id="card" style="width: 20rem;">
                <img src="{{pokemon.image}}" class="card-img-top">
                <div class="card-body mx-auto">
                    <h2 class="card-title text-center fw-bold">{{pokemon.name.capitalize()}}</h2>
                    <ul class="card-text">
                    <li>HP Base Stat: {{ pokemon.hp }}</li>
                    <li>Attack Base Stat: {{ pokemon.attack }}</li>
                    <li>Defense Base Stat: {{ pokemon.defense }}</li>
                    <li>Base Experience: {{ pokemon.experience }}</li>
                    <li>Move: {{ pokemon.move.capitalize() }}</li>
                    <li>Ability: {{ pokemon.ability.capitalize() }}</li>
                    <li>Type: {{ pokemon.type1.capitalize() }}</li>
                    </ul>
                </div>
              </div>
            {% endfor %}
        {% endif %}
    {% endblock %}