{% extends 'base.html' %}

    {% block title %}
        Poke Page
    {% endblock %}

    {% block content %}
        <h1>Pokemon Page</h1>
        <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.pokemon }}
                {{ form.submit_btn }}
        </form>
        {% if pokemon_data %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Pokemon Name</th>
                        <th scope="col">Hp Base Stat</th>
                        <th scope="col">Attack Base Stat</th>
                        <th scope="col">Defense Base Stat</th>
                        <th scope="col">Ability</th>
                        <th scope="col">Front Shiny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pokemon in pokemon_data %}
                        <tr>
                            <th>{{pokemon.name}}</th>
                            <td>{{pokemon.hp}}</td>
                            <td>{{pokemon.attack}}</td>
                            <td>{{pokemon.defense}}</td>
                            <td>{{pokemon.ability}}</td>
                            <td>{{pokemon.image}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endblock %}